body {
    background-color: #D98719;
  }

  /* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #0000FF;
}


/* Navigation Styles */
nav {
  background-color: #A8A8A8;
  text-align: center;
  position: sticky;
  padding: 25px 0;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #5C3317;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #FFD800;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }

  h1 {
    margin: 40px;
    font-family: 'Anton';
    text-shadow: 5px 0 #00FFFF;
    font-size: 7rem;
    color: #8E6B23;
  }

  h3 {
    margin: 20px;
    font-family: 'Anton';
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 3rem;
    color: #7FFF00;
    font-family:'Chewy', cursive;
  }

  img {
    width: 85%;
  }

  footer {
    margin-top: 3%;
    text-align: center;
    font-family: 'Ma Shan Zheng', cursive;
  }

